<div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card mt-2 ms-4 border-primary border-2">
        <img src="<%=element.imagen%>" class="card-img-top" alt="...">
        <div class="card-body bg-light">
            <h5 class="card-title text-primary">
                <%=element.nombre%>
            </h5>
            <p class="card-text text-black">
                <%=element.tipo_reserva%>
            </p>
            <a href="" class="btn btn-primary">Reservar</a>
        </div>
    </div>
</div>