<footer class="text-center  text-white bg-black mt-4 ">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="http://127.0.0.1:5500/index.html">SkyBound.com</a>
    </div>
    <!-- Copyright -->
  </footer>